.vue-table__header-wrapper {
  background-color: $--header-background-color;

  //兼容webkit
  &::-webkit-scrollbar {
    background-color: transparent;
    border-bottom: 1px solid $--border-color;
  }

  //兼容moz
  scrollbar-color: transparent transparent;

  .vue-table__header {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;

    tr {
      th {
        text-align: left;
        border-bottom: 1px solid $--border-color;
        user-select: none;
        background-color: $--header-background-color;
        padding: $--size-default;
        color: $--header-color;
        font-weight: 500;

        &.vue-table__header-align-center {
          text-align: center;
        }

        &.vue-table__header-align-right {
          text-align: right;
        }
      }
    }
  }
}

