.vue-table__body-wrapper {

  .vue-table__body {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;

    .vue-table__row {
      td {
        text-align: left;
        background-color: #ffffff;
        padding: 10px;
        border-bottom: 1px solid $--border-color;
        color: $--body-color;

        &.vue-table__body__row-align-center {
          text-align: center;
        }

        &.vue-table__body__row-align-right {
          text-align: right;
        }
      }

      &:hover td {
        transition: all .3s;
        background-color: $--body-hover-color;
      }
    }
  }
}

