.vue-table__body-wrapper {
  border-bottom: 1px solid $--border-color;
  position: relative;
  box-sizing: border-box;

  .vue-table__body {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;

    .vue-table__row {
      background: #ffffff;

      td {
        text-align: left;
        padding: $--size-default;
        border-bottom: 1px solid $--border-color;
        color: $--body-color;
        overflow: hidden;

        &.vue-table__body__row-align-center {
          text-align: center;
        }

        &.vue-table__body__row-align-right {
          text-align: right;
        }

        &.vue-table__body__row-tooltip {
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      &:hover td {
        transition: all .3s;
        background-color: $--body-hover-color;
      }
    }
  }
}

