.vue-table {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: $--font-size;
  font-variant: tabular-nums;
  list-style: none;
  line-height: 1.5;
  position: relative;
  clear: both;

  &.vue-table-scrollbar {
    .vue-table__header-wrapper {
      .vue-table__header {

      }
    }

    .vue-table__body-wrapper {
      .vue-table__body {
        tr {
          &:last-child {
            td {
              border-bottom: none;
            }
          }
        }
      }
    }
  }

  &.vue-table-bordered {
    .vue-table__header-wrapper {

      &::-webkit-scrollbar {
        border: 1px solid #e8e8e8;
        border-left: none;
      }

      .vue-table__header {
        border-top: 1px solid #e8e8e8;
        border-left: 1px solid #e8e8e8;
        border-right: 0;
        border-bottom: 0;

        tr > th {
          border-right: 1px solid #e8e8e8;

          &:last-child {
            border-right-color: transparent;
          }
        }
      }
    }

    .vue-table__body-wrapper {
      border-left: 1px solid #e8e8e8;
      border-right: 1px solid #e8e8e8;

      .vue-table__body {
        tr td {
          border-right: 1px solid #e8e8e8;

          &:last-child {
            border-right: none;
          }
        }
      }
    }

    //在有border的情况下，表格最右边肯定是有border的
    //但是如果竖向滚动条的情况下，则不需要最右border了，为了美观
    &.vue-table-scrollbar .vue-table__body-wrapper {
      border-right: none;
    }

    //&.vue-table-scrollbar {
    //  .vue-table__body-wrapper {
    //
    //    border-right: none;
    //
    //    tr {
    //      &:last-child {
    //        td {
    //          border-bottom: none;
    //        }
    //      }
    //    }
    //  }
    //}

    .vue-table__body-wrapper {


      //border-right: 1px solid #e8e8e8;

      //tr {
      //  td {
      //    border-right: 1px solid #e8e8e8;
      //
      //    &:last-child {
      //      border-right-color: transparent;
      //    }
      //  }
      //
      //  &:last-child {
      //    td {
      //      //border-bottom: none;
      //    }
      //  }
      //}
    }
  }

  &.vue-table-single-bottom {
    .vue-table__body-wrapper {
      .vue-table__body {
        tr:last-child td {
          border-bottom: none;
        }
      }
    }
  }
}
