//整体样式
$--font-size: 14px;
$--border-color: #ebeef5;

//header style
$--header-color: rgba(0, 0, 0, 0.85);
$--header-background-color: #fafafa;

//body style
$--body-color: #606266;
$--body-hover-color: #e6f7ff;

